{
  "openapi": "3.1.0",
  "info": {
    "title": "TwitterAPIs API",
    "version": "1.0.0",
    "description": "REST API for Twitter and X data. Search tweets and users, resolve a single tweet into its full thread, read profiles and timelines, page the follower graph, and run write actions over plain HTTP with Bearer auth and JSON. Pay per call: almost every call is $0.0008 (standard reads plus simple write actions like, retweet, bookmark, follow, their undos, and delete), tweet/thread is $0.004, full tweet history is $0.0024, tweet creation and DM reads are $0.0016, and account reads are free. New accounts start with $0.50 in free credits."
  },
  "servers": [
    {
      "url": "https://api.twitterapis.com/twitter"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account Session",
      "description": "Bring your own X session cookies (recommended), or mint a session from a username and password, so write actions and private-data reads act as your account. Free."
    },
    {
      "name": "Search",
      "description": "Full-text and structured search across tweets and users. Filter by query operators, author, date, language, and engagement."
    },
    {
      "name": "Tweet Details",
      "description": "Resolve a single tweet into its full object: replies, retweeters, and the complete conversation thread."
    },
    {
      "name": "User Reads",
      "description": "Read a profile, its timeline, media, mentions, affiliates, and follow relationships by username or numeric ID."
    },
    {
      "name": "Direct Messages",
      "description": "Read your account's DM inbox and the message history of a single conversation. Read-only; requires a registered session."
    },
    {
      "name": "Follower Graph",
      "description": "Page through followers and following lists, including the verified-only and v2 cursor-paginated variants."
    },
    {
      "name": "List Data",
      "description": "Read the members of any public Twitter/X List."
    },
    {
      "name": "Write Actions",
      "description": "Act on behalf of an authenticated account: like, retweet, bookmark, and follow, each with its undo. Billed at $0.0008 per call, the same as a standard read."
    }
  ],
  "paths": {
    "/customer/session": {
      "post": {
        "operationId": "customer-session",
        "summary": "Register Session",
        "description": "Register your X session cookies so write actions (like, retweet, bookmark, follow, create or delete a tweet) and private-data reads (home timeline, bookmarks, likes, DMs, followers-you-know) run as your account. Supply auth_token and ct0 once; the session is stored against your API key and applied automatically. This call is free. Cost: Free per call.",
        "tags": [
          "Account Session"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST \"https://api.twitterapis.com/twitter/customer/session\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"auth_token\": \"abc123...\", \"ct0\": \"def456...\"}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.post(\n    \"https://api.twitterapis.com/twitter/customer/session\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    json={\"auth_token\": \"abc123...\", \"ct0\": \"def456...\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const resp = await fetch(\"https://api.twitterapis.com/twitter/customer/session\", {\n  method: \"POST\",\n  headers: {\n    Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify({ auth_token: \"abc123...\", ct0: \"def456...\" }),\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Register your auth_token and ct0 cookies once so every write and private read acts as your account, or pass them per call as x-auth-token / x-ct0 headers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "True when the session is stored."
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable confirmation."
                    },
                    "username": {
                      "type": "string",
                      "description": "The X handle resolved from the session, or null when it could not be resolved."
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "message": "Session registered. Private-data endpoints will read as your account.",
                  "username": "myhandle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "forbidden",
                  "message": "The acting account is not authorized for this write action, or has no logged-in session."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "auth_token": {
                    "type": "string",
                    "description": "The auth_token cookie value from a logged-in x.com browser session."
                  },
                  "ct0": {
                    "type": "string",
                    "description": "The ct0 CSRF cookie value from the same x.com browser session."
                  },
                  "user_agent": {
                    "type": "string",
                    "description": "Browser user-agent to send with session requests. Defaults to a current Chrome UA if omitted."
                  },
                  "proxy_url": {
                    "type": "string",
                    "description": "HTTP or SOCKS proxy URL to route session traffic through, for example http://user:pass@host:port. Defaults to direct."
                  }
                },
                "required": [
                  "auth_token",
                  "ct0"
                ]
              }
            }
          }
        }
      }
    },
    "/user/user_login": {
      "post": {
        "operationId": "user-user-login",
        "summary": "User Login",
        "description": "Log in to an X account with a username and password (plus a TOTP secret when two-factor authentication is enabled) and get back a fresh session: the auth_token, ct0, and twid cookies. This is a convenience alternative to Register Session for when you cannot copy cookies out of a browser. Bringing your own auth_token and ct0 via POST /customer/session stays the primary, recommended path. This call is free. Cost: Free per call.",
        "tags": [
          "Account Session"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST \"https://api.twitterapis.com/twitter/user/user_login\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"username\": \"myhandle\", \"password\": \"hunter2\"}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.post(\n    \"https://api.twitterapis.com/twitter/user/user_login\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    json={\"username\": \"myhandle\", \"password\": \"hunter2\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const resp = await fetch(\"https://api.twitterapis.com/twitter/user/user_login\", {\n  method: \"POST\",\n  headers: {\n    Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify({ username: \"myhandle\", password: \"hunter2\" }),\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Mint an X session from a username, password, and optional TOTP 2FA secret, returning auth_token, ct0, and twid. A convenience alternative to bringing your own cookies via Register Session.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "auth_token": {
                      "type": "string",
                      "description": "The minted auth_token session cookie for the logged-in account."
                    },
                    "ct0": {
                      "type": "string",
                      "description": "The minted ct0 CSRF cookie that pairs with auth_token."
                    },
                    "twid": {
                      "type": "string",
                      "description": "The minted twid cookie, which encodes the numeric user ID of the logged-in account."
                    }
                  }
                },
                "example": {
                  "auth_token": "abc123...",
                  "ct0": "def456...",
                  "twid": "u%3D44196397"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "forbidden",
                  "message": "The acting account is not authorized for this write action, or has no logged-in session."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "The X account username or handle (without the leading @). Some accounts also accept the email or phone used to sign in."
                  },
                  "password": {
                    "type": "string",
                    "description": "The X account password."
                  },
                  "totp_secret": {
                    "type": "string",
                    "description": "The base32 two-factor (TOTP) secret, required only when the account has 2FA enabled. The API derives the current one-time code from it; omit for accounts without 2FA."
                  }
                },
                "required": [
                  "username",
                  "password"
                ]
              }
            }
          }
        }
      }
    },
    "/tweet/advanced_search": {
      "get": {
        "operationId": "tweet-advanced-search",
        "summary": "Advanced Tweet Search",
        "description": "Run a full-text tweet search using the same operator syntax as Twitter/X advanced search. Combine free text with operators such as from:, to:, since:, until:, min_faves:, and lang: to filter precisely. Results are cursor-paginated at roughly 20 tweets per call. Cost: $0.0008 per call.",
        "tags": [
          "Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.0008,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/tweet/advanced_search?query=from%3Anaval%20min_faves%3A1000&product=Latest\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/tweet/advanced_search\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"query\": \"from:naval min_faves:1000\", \"product\": \"Latest\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/tweet/advanced_search\");\nurl.search = new URLSearchParams({ query: \"from:naval min_faves:1000\", product: \"Latest\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          },
          {
            "lang": "bash",
            "label": "cURL: Paginate all pages",
            "source": "# Walk every page until the collection array comes back empty.\ncursor=\"\"\nwhile : ; do\n  resp=$(curl -s \"https://api.twitterapis.com/twitter/tweet/advanced_search?query=from:naval&cursor=$cursor\" \\\n    -H \"Authorization: Bearer $TWITTERAPIS_KEY\")\n  count=$(echo \"$resp\" | jq '.tweets | length')\n  [ \"$count\" -eq 0 ] && break\n  echo \"$resp\" | jq '.tweets[]'\n  cursor=$(echo \"$resp\" | jq -r '.next_cursor // \"\"')\n  [ -z \"$cursor\" ] || [ \"$cursor\" = \"null\" ] && break\ndone"
          },
          {
            "lang": "python",
            "label": "Python: Paginate all pages",
            "source": "import os\nimport requests\n\ndef paginate():\n    cursor = \"\"\n    while True:\n        resp = requests.get(\n            \"https://api.twitterapis.com/twitter/tweet/advanced_search\",\n            headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n            params={\"query\": \"from:naval\", \"cursor\": cursor},\n        )\n        resp.raise_for_status()\n        data = resp.json()\n        items = data.get(\"tweets\", [])\n        if not items:\n            break\n        for item in items:\n            yield item\n        cursor = data.get(\"next_cursor\")\n        if not cursor:\n            break\n\nfor item in paginate():\n    print(item)"
          },
          {
            "lang": "js",
            "label": "JavaScript: Paginate all pages",
            "source": "const params = { query: \"from:naval\", cursor: \"\" };\n\nwhile (true) {\n  const url = new URL(\"https://api.twitterapis.com/twitter/tweet/advanced_search\");\n  url.search = new URLSearchParams(params).toString();\n  const resp = await fetch(url, {\n    headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n  });\n  const data = await resp.json();\n  const items = data.tweets ?? [];\n  if (items.length === 0) break;\n  for (const item of items) console.log(item);\n  if (!data.next_cursor) break;\n  params.cursor = data.next_cursor;\n}"
          }
        ],
        "responses": {
          "200": {
            "description": "Search tweets with Twitter's full query-operator syntax, paginated with cursors.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "string",
                      "description": "Echo of the query you sent."
                    },
                    "product": {
                      "type": "string",
                      "description": "Echo of the ranking product applied to the search."
                    },
                    "tweets": {
                      "type": "array",
                      "description": "Matching tweets for this page.",
                      "items": {
                        "$ref": "#/components/schemas/Tweet"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of items returned in this page."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Opaque cursor for the next page. Null on the final page for list and affiliate endpoints; follower-graph endpoints return a non-null cursor even on the last page, so stop when the collection array is empty."
                    }
                  }
                },
                "example": {
                  "query": "from:naval min_faves:1000",
                  "product": "Latest",
                  "count": 20,
                  "next_cursor": "DAABCgABF...",
                  "tweets": [
                    {
                      "id": "1759123456789012345",
                      "text": "Reading > scrolling. Build the input, the output takes care of itself.",
                      "created_at": "Tue Feb 20 14:02:11 +0000 2026",
                      "author": {
                        "id": "745273",
                        "username": "naval",
                        "name": "Naval"
                      },
                      "favorite_count": 4821,
                      "retweet_count": 612,
                      "reply_count": 88,
                      "quote_count": 14,
                      "bookmark_count": 203,
                      "view_count": 219340
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query using Twitter operator syntax.",
            "schema": {
              "type": "string",
              "description": "Search query using Twitter operator syntax.",
              "example": "from:naval min_faves:1000"
            },
            "example": "from:naval min_faves:1000"
          },
          {
            "name": "product",
            "in": "query",
            "required": false,
            "description": "Ranking and result type: Latest, Top, People, Photos, or Videos. Defaults to Latest.",
            "schema": {
              "type": "string",
              "description": "Ranking and result type: Latest, Top, People, Photos, or Videos. Defaults to Latest.",
              "example": "Latest"
            },
            "example": "Latest"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from a previous response's next_cursor.",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from a previous response's next_cursor."
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Max items to return for this page. Default 20; clamped to 1-100.",
            "schema": {
              "type": "integer",
              "description": "Max items to return for this page. Default 20; clamped to 1-100.",
              "example": "20"
            },
            "example": "20"
          }
        ]
      }
    },
    "/user/search": {
      "get": {
        "operationId": "user-search",
        "summary": "User Search",
        "description": "Search the user directory by keyword. Matches against display name, handle, and bio. Useful for discovery, lead lists, and resolving partial handles into full profiles. Cost: $0.0008 per call.",
        "tags": [
          "Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.0008,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/user/search?query=machine%20learning\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/user/search\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"query\": \"machine learning\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/user/search\");\nurl.search = new URLSearchParams({ query: \"machine learning\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Find users by keyword across display names, handles, and bios.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "description": "Matching user objects for this page.",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of items returned in this page."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Opaque cursor for the next page. Null on the final page for list and affiliate endpoints; follower-graph endpoints return a non-null cursor even on the last page, so stop when the collection array is empty."
                    }
                  }
                },
                "example": {
                  "users": [
                    {
                      "id": "44196397",
                      "username": "elonmusk",
                      "name": "Elon Musk",
                      "description": "",
                      "followers_count": 211000000,
                      "verified": true
                    }
                  ],
                  "next_cursor": "DAABCgABF..."
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Keyword or partial handle to search for.",
            "schema": {
              "type": "string",
              "description": "Keyword or partial handle to search for.",
              "example": "machine learning"
            },
            "example": "machine learning"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from a previous response.",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from a previous response."
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Max items to return for this page. Default 20; clamped to 1-100.",
            "schema": {
              "type": "integer",
              "description": "Max items to return for this page. Default 20; clamped to 1-100.",
              "example": "20"
            },
            "example": "20"
          }
        ]
      }
    },
    "/tweet/detail": {
      "get": {
        "operationId": "tweet-detail",
        "summary": "Tweet Detail",
        "description": "Resolve a tweet ID into its complete object, including author, engagement counts, attached media, and any quoted tweet. The starting point for any single-tweet workflow. Cost: $0.0008 per call.",
        "tags": [
          "Tweet Details"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.0008,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/tweet/detail?id=1759123456789012345\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/tweet/detail\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"id\": \"1759123456789012345\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/tweet/detail\");\nurl.search = new URLSearchParams({ id: \"1759123456789012345\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch a single tweet's full object by ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Echo of the tweet ID you requested."
                    },
                    "tweet": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Tweet"
                        }
                      ],
                      "description": "The resolved tweet object."
                    }
                  }
                },
                "example": {
                  "id": "1759123456789012345",
                  "tweet": {
                    "id": "1759123456789012345",
                    "text": "Shipping the new docs today.",
                    "created_at": "Tue Feb 20 14:02:11 +0000 2026",
                    "author": {
                      "id": "745273",
                      "username": "naval",
                      "name": "Naval"
                    },
                    "favorite_count": 4821,
                    "retweet_count": 612,
                    "reply_count": 88,
                    "quote_count": 14,
                    "bookmark_count": 203,
                    "view_count": 219340
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Numeric ID of the tweet to fetch. Provide either id or url.",
            "schema": {
              "type": "string",
              "description": "Numeric ID of the tweet to fetch. Provide either id or url.",
              "example": "1759123456789012345"
            },
            "example": "1759123456789012345"
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Full status URL of the tweet, for example https://x.com/naval/status/1759123456789012345. Provide either id or url.",
            "schema": {
              "type": "string",
              "description": "Full status URL of the tweet, for example https://x.com/naval/status/1759123456789012345. Provide either id or url.",
              "example": "https://x.com/naval/status/1759123456789012345"
            },
            "example": "https://x.com/naval/status/1759123456789012345"
          }
        ]
      }
    },
    "/tweet/replies": {
      "get": {
        "operationId": "tweet-replies",
        "summary": "Tweet Replies",
        "description": "Fetch the direct replies to a given tweet, cursor-paginated. Combine with Tweet Detail to reconstruct a discussion or measure reply sentiment. Cost: $0.0008 per call.",
        "tags": [
          "Tweet Details"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.0008,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/tweet/replies?id=1759123456789012345\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/tweet/replies\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"id\": \"1759123456789012345\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/tweet/replies\");\nurl.search = new URLSearchParams({ id: \"1759123456789012345\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Page through the replies to a tweet.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tweets": {
                      "type": "array",
                      "description": "Reply tweets for this page.",
                      "items": {
                        "$ref": "#/components/schemas/Tweet"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of items returned in this page."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Opaque cursor for the next page. Null on the final page for list and affiliate endpoints; follower-graph endpoints return a non-null cursor even on the last page, so stop when the collection array is empty."
                    }
                  }
                },
                "example": {
                  "count": 1,
                  "next_cursor": "DAABCgABF...",
                  "tweets": [
                    {
                      "id": "1759123999000111222",
                      "text": "Congrats on the launch!",
                      "created_at": "Tue Feb 20 14:30:02 +0000 2026",
                      "author": {
                        "id": "9921",
                        "username": "devjane",
                        "name": "Jane"
                      },
                      "favorite_count": 12,
                      "reply_count": 1
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Numeric ID of the parent tweet. Provide either id or url.",
            "schema": {
              "type": "string",
              "description": "Numeric ID of the parent tweet. Provide either id or url.",
              "example": "1759123456789012345"
            },
            "example": "1759123456789012345"
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Full status URL of the parent tweet. Provide either id or url.",
            "schema": {
              "type": "string",
              "description": "Full status URL of the parent tweet. Provide either id or url.",
              "example": "https://x.com/naval/status/1759123456789012345"
            },
            "example": "https://x.com/naval/status/1759123456789012345"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from a previous response.",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from a previous response."
            }
          }
        ]
      }
    },
    "/tweet/retweeters": {
      "get": {
        "operationId": "tweet-retweeters",
        "summary": "Tweet Retweeters",
        "description": "Fetch the users who retweeted a given tweet, cursor-paginated. Useful for amplification analysis and identifying the accounts that spread a post. Cost: $0.0008 per call.",
        "tags": [
          "Tweet Details"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.0008,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/tweet/retweeters?id=1759123456789012345\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/tweet/retweeters\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"id\": \"1759123456789012345\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/tweet/retweeters\");\nurl.search = new URLSearchParams({ id: \"1759123456789012345\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "List the users who retweeted a tweet.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "description": "Users who retweeted, for this page.",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of items returned in this page."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Opaque cursor for the next page. Null on the final page for list and affiliate endpoints; follower-graph endpoints return a non-null cursor even on the last page, so stop when the collection array is empty."
                    }
                  }
                },
                "example": {
                  "users": [
                    {
                      "id": "9921",
                      "username": "devjane",
                      "name": "Jane",
                      "followers_count": 4200,
                      "verified": false
                    }
                  ],
                  "next_cursor": "DAABCgABF..."
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Numeric ID of the tweet. Provide either id or url.",
            "schema": {
              "type": "string",
              "description": "Numeric ID of the tweet. Provide either id or url.",
              "example": "1759123456789012345"
            },
            "example": "1759123456789012345"
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Full status URL of the tweet. Provide either id or url.",
            "schema": {
              "type": "string",
              "description": "Full status URL of the tweet. Provide either id or url.",
              "example": "https://x.com/naval/status/1759123456789012345"
            },
            "example": "https://x.com/naval/status/1759123456789012345"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from a previous response.",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from a previous response."
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Max items to return for this page. Default 20; clamped to 1-100.",
            "schema": {
              "type": "integer",
              "description": "Max items to return for this page. Default 20; clamped to 1-100.",
              "example": "20"
            },
            "example": "20"
          }
        ]
      }
    },
    "/tweet/thread": {
      "get": {
        "operationId": "tweet-thread",
        "summary": "Tweet Thread",
        "description": "Given a tweet ID anywhere in a thread, return the ordered list of tweets that make up the author's connected thread. Saves you from manually walking the reply chain. Cost: $0.0040 per call.",
        "tags": [
          "Tweet Details"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.004,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/tweet/thread?id=1759123456789012345\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/tweet/thread\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"id\": \"1759123456789012345\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/tweet/thread\");\nurl.search = new URLSearchParams({ id: \"1759123456789012345\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Reconstruct a full thread from any tweet in it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tweets": {
                      "type": "array",
                      "description": "Ordered tweets composing the thread.",
                      "items": {
                        "$ref": "#/components/schemas/Tweet"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of items returned in this page."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Opaque cursor for the next page. Null on the final page for list and affiliate endpoints; follower-graph endpoints return a non-null cursor even on the last page, so stop when the collection array is empty."
                    }
                  }
                },
                "example": {
                  "tweets": [
                    {
                      "id": "1759123456789012345",
                      "text": "1/ Here is how we made the API 100x cheaper.",
                      "author": {
                        "id": "745273",
                        "username": "naval"
                      }
                    },
                    {
                      "id": "1759123456789012346",
                      "text": "2/ It starts with batching ~20 tweets per call.",
                      "author": {
                        "id": "745273",
                        "username": "naval"
                      }
                    }
                  ],
                  "next_cursor": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Numeric ID of any tweet in the thread. Provide either id or url.",
            "schema": {
              "type": "string",
              "description": "Numeric ID of any tweet in the thread. Provide either id or url.",
              "example": "1759123456789012345"
            },
            "example": "1759123456789012345"
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Full status URL of any tweet in the thread. Provide either id or url.",
            "schema": {
              "type": "string",
              "description": "Full status URL of any tweet in the thread. Provide either id or url.",
              "example": "https://x.com/naval/status/1759123456789012345"
            },
            "example": "https://x.com/naval/status/1759123456789012345"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor for very long threads.",
            "schema": {
              "type": "string",
              "description": "Pagination cursor for very long threads."
            }
          }
        ]
      }
    },
    "/user/info": {
      "get": {
        "operationId": "user-info",
        "summary": "User Info by Username",
        "description": "Resolve a username into the full user object: bio, follower and following counts, verification status, location, and avatar. The canonical entry point for profile lookups. Cost: $0.0008 per call.",
        "tags": [
          "User Reads"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.0008,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/user/info?username=naval\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/user/info\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"username\": \"naval\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/user/info\");\nurl.search = new URLSearchParams({ username: \"naval\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch a full profile by @handle.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/User"
                        }
                      ],
                      "description": "The resolved user object."
                    }
                  }
                },
                "example": {
                  "user": {
                    "id": "745273",
                    "username": "naval",
                    "name": "Naval",
                    "description": "Angel investor.",
                    "followers_count": 2100000,
                    "following_count": 421,
                    "verified": true,
                    "profile_image_url": "https://pbs.twimg.com/profile_images/.../avatar.jpg"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "description": "Handle without the leading @.",
            "schema": {
              "type": "string",
              "description": "Handle without the leading @.",
              "example": "naval"
            },
            "example": "naval"
          }
        ]
      }
    },
    "/user/info_by_id": {
      "get": {
        "operationId": "user-info-by-id",
        "summary": "User Info by ID",
        "description": "Resolve a numeric user ID into the full user object. Use this when you already have the stable ID (handles can change, IDs do not). Cost: $0.0008 per call.",
        "tags": [
          "User Reads"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.0008,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/user/info_by_id?user_id=745273\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/user/info_by_id\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"user_id\": \"745273\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/user/info_by_id\");\nurl.search = new URLSearchParams({ user_id: \"745273\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch a full profile by numeric user ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/User"
                        }
                      ],
                      "description": "The resolved user object."
                    }
                  }
                },
                "example": {
                  "user": {
                    "id": "745273",
                    "username": "naval",
                    "name": "Naval",
                    "followers_count": 2100000,
                    "verified": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "description": "Numeric ID of the user.",
            "schema": {
              "type": "string",
              "description": "Numeric ID of the user.",
              "example": "745273"
            },
            "example": "745273"
          }
        ]
      }
    },
    "/user/user_about": {
      "get": {
        "operationId": "user-user-about",
        "summary": "User About",
        "description": "Read a profile's full About object: identity, bio, location, linked website, verification flags, professional account type and categories, follower and following counts, and account creation date. Cost: $0.0008 per call.",
        "tags": [
          "User Reads"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.0008,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/user/user_about?username=stripe\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/user/user_about\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"username\": \"stripe\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/user/user_about\");\nurl.search = new URLSearchParams({ username: \"stripe\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch a profile's extended About / professional details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "about": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/About"
                        }
                      ],
                      "description": "The profile's full About object: identity, bio, location, linked website, verification flags, professional account type and categories, follower and following counts, and account creation date."
                    }
                  }
                },
                "example": {
                  "about": {
                    "id": "13334762",
                    "username": "stripe",
                    "name": "Stripe",
                    "description": "Payments infrastructure for the internet.",
                    "location": "San Francisco, CA",
                    "url": "https://stripe.com",
                    "is_blue_verified": true,
                    "verified": true,
                    "verified_type": "Business",
                    "professional_type": "Business",
                    "professional_categories": [
                      {
                        "id": 354,
                        "name": "Software Company"
                      }
                    ],
                    "followers_count": 312000,
                    "following_count": 412,
                    "created_at": "Tue Feb 12 18:02:11 +0000 2008"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "description": "Handle without the leading @.",
            "schema": {
              "type": "string",
              "description": "Handle without the leading @.",
              "example": "stripe"
            },
            "example": "stripe"
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "description": "Numeric user ID; provide either username or user_id.",
            "schema": {
              "type": "string",
              "description": "Numeric user ID; provide either username or user_id.",
              "example": "44196397"
            },
            "example": "44196397"
          }
        ]
      }
    },
    "/user/media": {
      "get": {
        "operationId": "user-media",
        "summary": "User Media",
        "description": "Fetch the media tweets posted by a user, cursor-paginated. Returns the tweet objects that contain attached photos or video, with media URLs included. Cost: $0.0008 per call.",
        "tags": [
          "User Reads"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.0008,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/user/media?username=nasa\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/user/media\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"username\": \"nasa\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/user/media\");\nurl.search = new URLSearchParams({ username: \"nasa\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Page through a profile's media tweets (images and video).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tweets": {
                      "type": "array",
                      "description": "Media tweets for this page (each carries its attachments under extended_entities.media).",
                      "items": {
                        "$ref": "#/components/schemas/Tweet"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of items returned in this page."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Opaque cursor for the next page. Null on the final page for list and affiliate endpoints; follower-graph endpoints return a non-null cursor even on the last page, so stop when the collection array is empty."
                    }
                  }
                },
                "example": {
                  "tweets": [
                    {
                      "id": "1759987654321000111",
                      "text": "A new image of the Pillars of Creation.",
                      "extended_entities": {
                        "media": [
                          {
                            "type": "photo",
                            "media_url_https": "https://pbs.twimg.com/media/abc.jpg",
                            "url": "https://t.co/abc123",
                            "ext_alt_text": "The Pillars of Creation imaged by JWST."
                          }
                        ]
                      },
                      "author": {
                        "id": "11348282",
                        "username": "nasa"
                      }
                    }
                  ],
                  "next_cursor": "DAABCgABF..."
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "description": "Handle without the leading @.",
            "schema": {
              "type": "string",
              "description": "Handle without the leading @.",
              "example": "nasa"
            },
            "example": "nasa"
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "description": "Numeric user ID; provide either username or user_id.",
            "schema": {
              "type": "string",
              "description": "Numeric user ID; provide either username or user_id.",
              "example": "44196397"
            },
            "example": "44196397"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from a previous response.",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from a previous response."
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Max items to return for this page. Default 20; clamped to 1-100.",
            "schema": {
              "type": "integer",
              "description": "Max items to return for this page. Default 20; clamped to 1-100.",
              "example": "20"
            },
            "example": "20"
          }
        ]
      }
    },
    "/user/tweets": {
      "get": {
        "operationId": "user-tweets",
        "summary": "User Tweets",
        "description": "Page through a user's public timeline, cursor-paginated at roughly 20 tweets per call. Returns original tweets and retweets; use User Tweets and Replies to also include replies. Cost: $0.0008 per call.",
        "tags": [
          "User Reads"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.0008,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/user/tweets?username=naval\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/user/tweets\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"username\": \"naval\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/user/tweets\");\nurl.search = new URLSearchParams({ username: \"naval\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          },
          {
            "lang": "bash",
            "label": "cURL: Paginate all pages",
            "source": "# Walk every page until the collection array comes back empty.\ncursor=\"\"\nwhile : ; do\n  resp=$(curl -s \"https://api.twitterapis.com/twitter/user/tweets?username=naval&cursor=$cursor\" \\\n    -H \"Authorization: Bearer $TWITTERAPIS_KEY\")\n  count=$(echo \"$resp\" | jq '.tweets | length')\n  [ \"$count\" -eq 0 ] && break\n  echo \"$resp\" | jq '.tweets[]'\n  cursor=$(echo \"$resp\" | jq -r '.next_cursor // \"\"')\n  [ -z \"$cursor\" ] || [ \"$cursor\" = \"null\" ] && break\ndone"
          },
          {
            "lang": "python",
            "label": "Python: Paginate all pages",
            "source": "import os\nimport requests\n\ndef paginate():\n    cursor = \"\"\n    while True:\n        resp = requests.get(\n            \"https://api.twitterapis.com/twitter/user/tweets\",\n            headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n            params={\"username\": \"naval\", \"cursor\": cursor},\n        )\n        resp.raise_for_status()\n        data = resp.json()\n        items = data.get(\"tweets\", [])\n        if not items:\n            break\n        for item in items:\n            yield item\n        cursor = data.get(\"next_cursor\")\n        if not cursor:\n            break\n\nfor item in paginate():\n    print(item)"
          },
          {
            "lang": "js",
            "label": "JavaScript: Paginate all pages",
            "source": "const params = { username: \"naval\", cursor: \"\" };\n\nwhile (true) {\n  const url = new URL(\"https://api.twitterapis.com/twitter/user/tweets\");\n  url.search = new URLSearchParams(params).toString();\n  const resp = await fetch(url, {\n    headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n  });\n  const data = await resp.json();\n  const items = data.tweets ?? [];\n  if (items.length === 0) break;\n  for (const item of items) console.log(item);\n  if (!data.next_cursor) break;\n  params.cursor = data.next_cursor;\n}"
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch a user's timeline (original tweets and retweets).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tweets": {
                      "type": "array",
                      "description": "Timeline tweets for this page.",
                      "items": {
                        "$ref": "#/components/schemas/Tweet"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of items returned in this page."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Opaque cursor for the next page. Null on the final page for list and affiliate endpoints; follower-graph endpoints return a non-null cursor even on the last page, so stop when the collection array is empty."
                    }
                  }
                },
                "example": {
                  "tweets": [
                    {
                      "id": "1759123456789012345",
                      "text": "Reading > scrolling.",
                      "created_at": "Tue Feb 20 14:02:11 +0000 2026",
                      "author": {
                        "id": "745273",
                        "username": "naval"
                      },
                      "favorite_count": 4821
                    }
                  ],
                  "next_cursor": "DAABCgABF..."
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
[...]
