{
  "openapi": "3.1.0",
  "info": {
    "title": "TwitterAPIs API",
    "version": "1.0.0",
    "description": "REST API for Twitter and X data. Search tweets and users, resolve a single tweet into its full thread, read profiles and timelines, page the follower graph, and run write actions over plain HTTP with Bearer auth and JSON. Pay per call: almost every call is $0.0008 (standard reads plus simple write actions like, retweet, bookmark, follow, their undos, and delete), tweet/thread is $0.004, full tweet history is $0.0024, tweet creation and DM reads are $0.0016, and account reads are free. New accounts start with $0.50 in free credits."
  },
  "servers": [
    {
      "url": "https://api.twitterapis.com/twitter"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Your API account: credit balance, usage totals, and payment history. Served from the API root (https://api.twitterapis.com/account/*), not under /twitter, because billing owns their authentication. Free."
    },
    {
      "name": "Account Session",
      "description": "Bring your own X session cookies (recommended), or mint a session from a username and password, so write actions and private-data reads act as your account. Free."
    },
    {
      "name": "Search",
      "description": "Full-text and structured search across tweets and users. Filter by query operators, author, date, language, and engagement."
    },
    {
      "name": "Tweet Details",
      "description": "Resolve a single tweet into its full object: replies, retweeters, and the complete conversation thread."
    },
    {
      "name": "User Reads",
      "description": "Read a profile, its timeline, media, mentions, affiliates, and follow relationships by username or numeric ID."
    },
    {
      "name": "Direct Messages",
      "description": "Read your account's DM inbox and the message history of a single conversation. Read-only; requires a registered session."
    },
    {
      "name": "Follower Graph",
      "description": "Page through followers and following lists, including the verified-only and v2 cursor-paginated variants."
    },
    {
      "name": "List Data",
      "description": "Read the members of any public Twitter/X List."
    },
    {
      "name": "Trends",
      "description": "Read what is trending on Twitter/X right now, worldwide or for a single country, plus the full set of locations trends are available for."
    },
    {
      "name": "Write Actions",
      "description": "Act on behalf of an authenticated account: like, retweet, bookmark, and follow, each with its undo. Billed at $0.0008 per call, the same as a standard read."
    },
    {
      "name": "Articles",
      "description": "Create, edit, publish, and read X's long-form Articles (X's internal name: Notes). Publishing posts a real announcement tweet; reading a published article is a public call that needs no session."
    },
    {
      "name": "Monitoring",
      "description": "Watch an X account for new posts and get them pushed to your own webhook, HMAC-signed, retried for 21 minutes on failure. Polls on a shared interval and never spends your read credits: monitor and webhook management are free account administration, not metered reads."
    }
  ],
  "paths": {
    "/account/me": {
      "get": {
        "operationId": "account-me",
        "summary": "Account Info",
        "description": "Returns the account behind your API key: remaining credits, credits consumed, total requests served, and when the account was created. Use it to show a balance in your own dashboard or to alert before you run out of credits. This call is free and is not metered. Cost: Free per call.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/account/me\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/account/me\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/account/me\");\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Your credit balance, lifetime usage, and account details for the API key making the call.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "Email address on the account."
                    },
                    "name": {
                      "type": "string",
                      "description": "Account holder name."
                    },
                    "credits_remaining": {
                      "type": "object",
                      "description": "Credits currently available, in USD.",
                      "additionalProperties": true
                    },
                    "credits_used": {
                      "type": "object",
                      "description": "Total credits consumed to date, in USD.",
                      "additionalProperties": true
                    },
                    "total_requests": {
                      "type": "object",
                      "description": "Total number of API requests served for this account.",
                      "additionalProperties": true
                    },
                    "created_at": {
                      "type": "string",
                      "description": "ISO 8601 timestamp of when the account was created."
                    }
                  }
                },
                "example": {
                  "email": "you@example.com",
                  "name": "Your Name",
                  "credits_remaining": 946.4048,
                  "credits_used": 454.1516,
                  "total_requests": 622007,
                  "created_at": "2026-01-14T09:22:31.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.twitterapis.com"
        }
      ]
    },
    "/account/payments": {
      "get": {
        "operationId": "account-payments",
        "summary": "Payment History",
        "description": "Returns the payment history for the account behind your API key, ordered newest first. Each entry records what was paid, how many credits it added, and whether the payment completed. Use it to reconcile top-ups against your own billing records. This call is free. Cost: Free per call.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/account/payments\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/account/payments\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/account/payments\");\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Every credit top-up on your account, newest first, with amount, credits added, and status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payments": {
                      "type": "object",
                      "description": "Payment records, newest first. Empty when the account has never topped up.",
                      "additionalProperties": true
                    }
                  }
                },
                "example": {
                  "payments": [
                    {
                      "amount": 100,
                      "credits_added": 100,
                      "status": "completed",
                      "created_at": "2026-06-02T14:08:55.000Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.twitterapis.com"
        }
      ]
    },
    "/customer/session": {
      "post": {
        "operationId": "customer-session",
        "summary": "Register Session",
        "description": "Register your X session cookies so write actions (like, retweet, bookmark, follow, create or delete a tweet) and private-data reads (home timeline, bookmarks, likes, DMs, followers-you-know) run as your account. Supply auth_token and ct0 once; the session is stored against your API key and applied automatically. This call is free. Cost: Free per call.",
        "tags": [
          "Account Session"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST \"https://api.twitterapis.com/twitter/customer/session\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"auth_token\": \"abc123...\", \"ct0\": \"def456...\"}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.post(\n    \"https://api.twitterapis.com/twitter/customer/session\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    json={\"auth_token\": \"abc123...\", \"ct0\": \"def456...\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const resp = await fetch(\"https://api.twitterapis.com/twitter/customer/session\", {\n  method: \"POST\",\n  headers: {\n    Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify({ auth_token: \"abc123...\", ct0: \"def456...\" }),\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Register your auth_token and ct0 cookies once so every write and private read acts as your account, or pass them per call as x-auth-token / x-ct0 headers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "True when the session is stored."
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable confirmation."
                    },
                    "username": {
                      "type": "string",
                      "description": "The X handle resolved from the session, or null when it could not be resolved."
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "message": "Session registered. Private-data endpoints will read as your account.",
                  "username": "myhandle"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "forbidden",
                  "message": "The acting account is not authorized for this write action, or has no logged-in session."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "auth_token": {
                    "type": "string",
                    "description": "The auth_token cookie value from a logged-in x.com browser session."
                  },
                  "ct0": {
                    "type": "string",
                    "description": "The ct0 CSRF cookie value from the same x.com browser session."
                  },
                  "user_agent": {
                    "type": "string",
                    "description": "Browser user-agent to send with session requests. Defaults to a current Chrome UA if omitted."
                  },
                  "proxy_url": {
                    "type": "string",
                    "description": "HTTP or SOCKS proxy URL the session egresses through, for example http://user:pass@host:port. This is a property of the session, so every call made with this API key on this session uses it, reads as well as writes. Defaults to direct, which means we choose the egress."
                  }
                },
                "required": [
                  "auth_token",
                  "ct0"
                ]
              }
            }
          }
        }
      }
    },
    "/customer/session/delete": {
      "post": {
        "operationId": "customer-session-delete",
        "summary": "Revoke Session",
        "description": "Delete the X session cookies stored against your API key. The key is taken from the authenticated request, and the handler reads no identity from the body, the query string, or any second header, so a call can only ever remove the caller's own stored session. It is idempotent and answers 200 whether or not a row was there to remove. This call is free. Cost: Free per call.",
        "tags": [
          "Account Session"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST \"https://api.twitterapis.com/twitter/customer/session/delete\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.post(\n    \"https://api.twitterapis.com/twitter/customer/session/delete\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    json={},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const resp = await fetch(\"https://api.twitterapis.com/twitter/customer/session/delete\", {\n  method: \"POST\",\n  headers: {\n    Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify({}),\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete the auth_token and ct0 you registered, so we no longer hold your X session cookies. Self-serve, idempotent, and free.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always true. The request was accepted and no stored session for your API key remains."
                    },
                    "deleted": {
                      "type": "boolean",
                      "description": "True when a stored session was found and removed. False when nothing was stored for this API key, for example after an earlier revoke, or when you only ever sent per-call x-auth-token and x-ct0 credentials."
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable confirmation. The wording differs depending on whether a stored session was removed."
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "deleted": true,
                  "message": "Your stored Twitter session was deleted. The auth_token and ct0 you registered are no longer on our servers. This does not log the account out of x.com: to invalidate the cookies themselves, revoke the session from your X account settings as well."
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "forbidden",
                  "message": "The acting account is not authorized for this write action, or has no logged-in session."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        }
      }
    },
    "/user/user_login": {
      "post": {
        "operationId": "user-user-login",
        "summary": "User Login",
        "description": "Log in to an X account with a username and password (plus a TOTP secret when two-factor authentication is enabled). The API runs the login itself and stores the resulting session server-side against your API key; authenticated-account reads and the write tools then act as that account. It does NOT return session cookies: the response is {ok, username, message}, never auth_token/ct0/twid. Bringing your own auth_token and ct0 via POST /customer/session stays the primary, recommended path, since it never sends a password over the wire. This call costs $0.01, billed only on a successful login; a rejected attempt (bad credentials, captcha, etc.) is never charged. Cost: $0.0100 per call.",
        "tags": [
          "Account Session"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.01,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST \"https://api.twitterapis.com/twitter/user/user_login\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"username\": \"myhandle\", \"password\": \"hunter2\"}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.post(\n    \"https://api.twitterapis.com/twitter/user/user_login\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    json={\"username\": \"myhandle\", \"password\": \"hunter2\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const resp = await fetch(\"https://api.twitterapis.com/twitter/user/user_login\", {\n  method: \"POST\",\n  headers: {\n    Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify({ username: \"myhandle\", password: \"hunter2\" }),\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Log in to X with a username and password (plus TOTP for 2FA) and store the resulting session against your API key, so authenticated-account reads and write tools then act as that account. A convenience alternative to bringing your own cookies via Register Session.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "True when the session was created and stored against your API key."
                    },
                    "username": {
                      "type": "string",
                      "description": "The X handle the session belongs to."
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable confirmation. On success: \"Logged in. Private-data endpoints will now read as your account.\""
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "username": "myhandle",
                  "message": "Logged in. Private-data endpoints will now read as your account."
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "forbidden",
                  "message": "The acting account is not authorized for this write action, or has no logged-in session."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "The X account username or handle (without the leading @). Aliased as user_name for callers migrating from a twitterapi.io-shaped body."
                  },
                  "password": {
                    "type": "string",
                    "description": "The X account password."
                  },
                  "totp_secret": {
                    "type": "string",
                    "description": "The base32 two-factor (TOTP) secret, required only when the account has 2FA enabled. The API derives the current one-time code from it; omit for accounts without 2FA."
                  },
                  "proxy_url": {
                    "type": "string",
                    "description": "HTTP or SOCKS proxy the login itself runs through, for example http://user:pass@host:port. Optional; defaults to direct egress when omitted."
                  },
                  "user_agent": {
                    "type": "string",
                    "description": "Browser User-Agent sent for the login request. Optional; defaults to a current Chrome UA when omitted."
                  }
                },
                "required": [
                  "username",
                  "password"
                ]
              }
            }
          }
        }
      }
    },
    "/tweet/advanced_search": {
      "get": {
        "operationId": "tweet-advanced-search",
        "summary": "Advanced Tweet Search",
        "description": "Run a full-text tweet search using the same operator syntax as Twitter/X advanced search. Combine free text with operators such as from:, to:, since:, until:, min_faves:, and lang: to filter precisely. Results are cursor-paginated at roughly 20 tweets per call. Cost: $0.0008 per call.",
        "tags": [
          "Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.0008,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/tweet/advanced_search?query=from%3Anaval%20min_faves%3A1000&product=Latest\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/tweet/advanced_search\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"query\": \"from:naval min_faves:1000\", \"product\": \"Latest\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/tweet/advanced_search\");\nurl.search = new URLSearchParams({ query: \"from:naval min_faves:1000\", product: \"Latest\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          },
          {
            "lang": "bash",
            "label": "cURL: Paginate all pages",
            "source": "# Walk every page until the collection array comes back empty.\ncursor=\"\"\nwhile : ; do\n  resp=$(curl -s \"https://api.twitterapis.com/twitter/tweet/advanced_search?query=from:naval&cursor=$cursor\" \\\n    -H \"Authorization: Bearer $TWITTERAPIS_KEY\")\n  count=$(echo \"$resp\" | jq '.tweets | length')\n  [ \"$count\" -eq 0 ] && break\n  echo \"$resp\" | jq '.tweets[]'\n  cursor=$(echo \"$resp\" | jq -r '.next_cursor // \"\"')\n  [ -z \"$cursor\" ] || [ \"$cursor\" = \"null\" ] && break\ndone"
          },
          {
            "lang": "python",
            "label": "Python: Paginate all pages",
            "source": "import os\nimport requests\n\ndef paginate():\n    cursor = \"\"\n    while True:\n        resp = requests.get(\n            \"https://api.twitterapis.com/twitter/tweet/advanced_search\",\n            headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n            params={\"query\": \"from:naval\", \"cursor\": cursor},\n        )\n        resp.raise_for_status()\n        data = resp.json()\n        items = data.get(\"tweets\", [])\n        if not items:\n            break\n        for item in items:\n            yield item\n        cursor = data.get(\"next_cursor\")\n        if not cursor:\n            break\n\nfor item in paginate():\n    print(item)"
          },
          {
            "lang": "js",
            "label": "JavaScript: Paginate all pages",
            "source": "const params = { query: \"from:naval\", cursor: \"\" };\n\nwhile (true) {\n  const url = new URL(\"https://api.twitterapis.com/twitter/tweet/advanced_search\");\n  url.search = new URLSearchParams(params).toString();\n  const resp = await fetch(url, {\n    headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n  });\n  const data = await resp.json();\n  const items = data.tweets ?? [];\n  if (items.length === 0) break;\n  for (const item of items) console.log(item);\n  if (!data.next_cursor) break;\n  params.cursor = data.next_cursor;\n}"
          }
        ],
        "responses": {
          "200": {
            "description": "Search tweets with Twitter's full query-operator syntax, paginated with cursors.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "string",
                      "description": "Echo of the query you sent."
                    },
                    "product": {
                      "type": "string",
                      "description": "Echo of the ranking product applied to the search."
                    },
                    "tweets": {
                      "type": "array",
                      "description": "Matching tweets for this page.",
                      "items": {
                        "$ref": "#/components/schemas/Tweet"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of items returned in this page."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Opaque cursor for the next page. Null on the final page for list and affiliate endpoints; follower-graph endpoints return a non-null cursor even on the last page, so stop when the collection array is empty."
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "True when another page is available: this page returned items and carried a usable next_cursor. False on the final page. Follower-graph endpoints keep sending a non-null next_cursor past the end, but has_more still flips to false once the item array comes back empty, so it is the reliable loop-stop signal."
                    }
                  }
                },
                "example": {
                  "query": "from:naval min_faves:1000",
                  "product": "Latest",
                  "count": 20,
                  "next_cursor": "DAABCgABF...",
                  "tweets": [
                    {
                      "id": "1759123456789012345",
                      "text": "Reading > scrolling. Build the input, the output takes care of itself.",
                      "created_at": "Tue Feb 20 14:02:11 +0000 2026",
                      "author": {
                        "id": "745273",
                        "username": "naval",
                        "name": "Naval"
                      },
                      "favorite_count": 4821,
                      "retweet_count": 612,
                      "reply_count": 88,
                      "quote_count": 14,
                      "bookmark_count": 203,
                      "view_count": 219340
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query using Twitter operator syntax.",
            "schema": {
              "type": "string",
              "description": "Search query using Twitter operator syntax.",
              "example": "from:naval min_faves:1000"
            },
            "example": "from:naval min_faves:1000"
          },
          {
            "name": "product",
            "in": "query",
            "required": false,
            "description": "Ranking and result type: Latest, Top, People, Photos, or Videos. Defaults to Latest.",
            "schema": {
              "type": "string",
              "description": "Ranking and result type: Latest, Top, People, Photos, or Videos. Defaults to Latest.",
              "example": "Latest"
            },
            "example": "Latest"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from a previous response's next_cursor.",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from a previous response's next_cursor."
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Accepted but not honoured on this endpoint: the upstream page is fixed at roughly 20 results and raising count does not return more. Use cursor to read further.",
            "schema": {
              "type": "integer",
              "description": "Accepted but not honoured on this endpoint: the upstream page is fixed at roughly 20 results and raising count does not return more. Use cursor to read further.",
              "example": "20"
            },
            "example": "20"
          }
        ]
      }
    },
    "/user/search": {
      "get": {
        "operationId": "user-search",
        "summary": "User Search",
        "description": "Search the user directory by keyword. Matches against display name, handle, and bio. Useful for discovery, lead lists, and resolving partial handles into full profiles. Cost: $0.0008 per call.",
        "tags": [
          "Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.0008,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/user/search?query=machine%20learning\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/user/search\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"query\": \"machine learning\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/user/search\");\nurl.search = new URLSearchParams({ query: \"machine learning\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Find users by keyword across display names, handles, and bios.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "description": "Matching user objects for this page.",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of items returned in this page."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Opaque cursor for the next page. Null on the final page for list and affiliate endpoints; follower-graph endpoints return a non-null cursor even on the last page, so stop when the collection array is empty."
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "True when another page is available: this page returned items and carried a usable next_cursor. False on the final page. Follower-graph endpoints keep sending a non-null next_cursor past the end, but has_more still flips to false once the item array comes back empty, so it is the reliable loop-stop signal."
                    }
                  }
                },
                "example": {
                  "users": [
                    {
                      "id": "44196397",
                      "username": "elonmusk",
                      "name": "Elon Musk",
                      "description": "",
                      "followers_count": 211000000,
                      "verified": true
                    }
                  ],
                  "next_cursor": "DAABCgABF..."
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Keyword or partial handle to search for.",
            "schema": {
              "type": "string",
              "description": "Keyword or partial handle to search for.",
              "example": "machine learning"
            },
            "example": "machine learning"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from a previous response.",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from a previous response."
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Max items to return for this page. Default 20; clamped to 1-100.",
            "schema": {
              "type": "integer",
              "description": "Max items to return for this page. Default 20; clamped to 1-100.",
              "example": "20"
            },
            "example": "20"
          }
        ]
      }
    },
    "/tweet/detail": {
      "get": {
        "operationId": "tweet-detail",
        "summary": "Tweet Detail",
        "description": "Resolve a tweet ID into its complete object, including author, engagement counts, attached media, and any quoted tweet. The starting point for any single-tweet workflow. Cost: $0.0008 per call.",
        "tags": [
          "Tweet Details"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.0008,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/tweet/detail?id=1759123456789012345\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/tweet/detail\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"id\": \"1759123456789012345\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/tweet/detail\");\nurl.search = new URLSearchParams({ id: \"1759123456789012345\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch a single tweet's full object by ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Echo of the tweet ID you requested."
                    },
                    "tweet": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Tweet"
                        }
                      ],
                      "description": "The resolved tweet object."
                    }
                  }
                },
                "example": {
                  "id": "1759123456789012345",
                  "tweet": {
                    "id": "1759123456789012345",
                    "text": "Shipping the new docs today.",
                    "created_at": "Tue Feb 20 14:02:11 +0000 2026",
                    "author": {
                      "id": "745273",
                      "username": "naval",
                      "name": "Naval"
                    },
                    "favorite_count": 4821,
                    "retweet_count": 612,
                    "reply_count": 88,
                    "quote_count": 14,
                    "bookmark_count": 203,
                    "view_count": 219340
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Numeric ID of the tweet to fetch. Provide either id or url.",
            "schema": {
              "type": "string",
              "description": "Numeric ID of the tweet to fetch. Provide either id or url.",
              "example": "1759123456789012345"
            },
            "example": "1759123456789012345"
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Full status URL of the tweet, for example https://x.com/naval/status/1759123456789012345. Provide either id or url.",
            "schema": {
              "type": "string",
              "description": "Full status URL of the tweet, for example https://x.com/naval/status/1759123456789012345. Provide either id or url.",
              "example": "https://x.com/naval/status/1759123456789012345"
            },
            "example": "https://x.com/naval/status/1759123456789012345"
          }
        ]
      }
    },
    "/tweet/replies": {
      "get": {
        "operationId": "tweet-replies",
        "summary": "Tweet Replies",
        "description": "Fetch the direct replies to a given tweet, cursor-paginated. Combine with Tweet Detail to reconstruct a discussion or measure reply sentiment. Cost: $0.0008 per call.",
        "tags": [
          "Tweet Details"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.0008,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/tweet/replies?id=1759123456789012345\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/tweet/replies\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"id\": \"1759123456789012345\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/tweet/replies\");\nurl.search = new URLSearchParams({ id: \"1759123456789012345\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Page through the replies to a tweet.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tweets": {
                      "type": "array",
                      "description": "Reply tweets for this page.",
                      "items": {
                        "$ref": "#/components/schemas/Tweet"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of items returned in this page."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Opaque cursor for the next page. Null on the final page for list and affiliate endpoints; follower-graph endpoints return a non-null cursor even on the last page, so stop when the collection array is empty."
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "True when another page is available: this page returned items and carried a usable next_cursor. False on the final page. Follower-graph endpoints keep sending a non-null next_cursor past the end, but has_more still flips to false once the item array comes back empty, so it is the reliable loop-stop signal."
                    }
                  }
                },
                "example": {
                  "count": 1,
                  "next_cursor": "DAABCgABF...",
                  "tweets": [
                    {
                      "id": "1759123999000111222",
                      "text": "Congrats on the launch!",
                      "created_at": "Tue Feb 20 14:30:02 +0000 2026",
                      "author": {
                        "id": "9921",
                        "username": "devjane",
                        "name": "Jane"
                      },
                      "favorite_count": 12,
                      "reply_count": 1
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Numeric ID of the parent tweet. Provide either id or url.",
            "schema": {
              "type": "string",
              "description": "Numeric ID of the parent tweet. Provide either id or url.",
              "example": "1759123456789012345"
            },
            "example": "1759123456789012345"
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Full status URL of the parent tweet. Provide either id or url.",
            "schema": {
              "type": "string",
              "description": "Full status URL of the parent tweet. Provide either id or url.",
              "example": "https://x.com/naval/status/1759123456789012345"
            },
            "example": "https://x.com/naval/status/1759123456789012345"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from a previous response.",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from a previous response."
            }
          }
        ]
      }
    },
    "/tweet/retweeters": {
      "get": {
        "operationId": "tweet-retweeters",
        "summary": "Tweet Retweeters",
        "description": "Fetch the users who retweeted a given tweet, cursor-paginated. Useful for amplification analysis and identifying the accounts that spread a post. Cost: $0.0008 per call.",
        "tags": [
          "Tweet Details"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.0008,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/tweet/retweeters?id=1759123456789012345\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/tweet/retweeters\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"id\": \"1759123456789012345\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/tweet/retweeters\");\nurl.search = new URLSearchParams({ id: \"1759123456789012345\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "List the users who retweeted a tweet.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "description": "Users who retweeted, for this page.",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of items returned in this page."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Opaque cursor for the next page. Null on the final page for list and affiliate endpoints; follower-graph endpoints return a non-null cursor even on the last page, so stop when the collection array is empty."
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "True when another page is available: this page returned items and carried a usable next_cursor. False on the final page. Follower-graph endpoints keep sending a non-null next_cursor past the end, but has_more still flips to false once the item array comes back empty, so it is the reliable loop-stop signal."
                    }
                  }
                },
                "example": {
                  "users": [
                    {
                      "id": "9921",
                      "username": "devjane",
                      "name": "Jane",
                      "followers_count": 4200,
                      "verified": false
                    }
                  ],
                  "next_cursor": "DAABCgABF..."
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Numeric ID of the tweet. Provide either id or url.",
            "schema": {
              "type": "string",
              "description": "Numeric ID of the tweet. Provide either id or url.",
              "example": "1759123456789012345"
            },
            "example": "1759123456789012345"
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Full status URL of the tweet. Provide either id or url.",
            "schema": {
              "type": "string",
              "description": "Full status URL of the tweet. Provide either id or url.",
              "example": "https://x.com/naval/status/1759123456789012345"
            },
            "example": "https://x.com/naval/status/1759123456789012345"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor from a previous response.",
            "schema": {
              "type": "string",
              "description": "Pagination cursor from a previous response."
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Max items to return for this page. Default 20; clamped to 1-100.",
            "schema": {
              "type": "integer",
              "description": "Max items to return for this page. Default 20; clamped to 1-100.",
              "example": "20"
            },
            "example": "20"
          }
        ]
      }
    },
    "/tweet/thread": {
      "get": {
        "operationId": "tweet-thread",
        "summary": "Tweet Thread",
        "description": "Given the first tweet of a thread, return the ordered list of tweets that make up the author's connected thread. The endpoint reads forward from the tweet you pass and does not walk backwards, so pass the thread's first tweet, which is the conversation_id carried on every tweet in that thread. Passing a later tweet returns only the tail of the thread. Cost: $0.0040 per call.",
        "tags": [
          "Tweet Details"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.004,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/tweet/thread?id=1759123456789012345\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/tweet/thread\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"id\": \"1759123456789012345\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/tweet/thread\");\nurl.search = new URLSearchParams({ id: \"1759123456789012345\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Reconstruct a thread forward from its first tweet.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tweets": {
                      "type": "array",
                      "description": "Ordered tweets composing the thread.",
                      "items": {
                        "$ref": "#/components/schemas/Tweet"
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of tweets in the thread. The whole thread is returned in one call, so there is no cursor and no second page."
                    }
                  }
                },
                "example": {
                  "tweets": [
                    {
                      "id": "1759123456789012345",
                      "text": "1/ Here is how we made the API 100x cheaper.",
                      "author": {
                        "id": "745273",
                        "username": "naval"
                      }
                    },
                    {
                      "id": "1759123456789012346",
                      "text": "2/ It starts with batching ~20 tweets per call.",
                      "author": {
                        "id": "745273",
                        "username": "naval"
                      }
                    }
                  ],
                  "next_cursor": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Numeric ID of any tweet in the thread. Provide either id or url.",
            "schema": {
              "type": "string",
              "description": "Numeric ID of any tweet in the thread. Provide either id or url.",
              "example": "1759123456789012345"
            },
            "example": "1759123456789012345"
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "description": "Full status URL of any tweet in the thread. Provide either id or url.",
            "schema": {
              "type": "string",
              "description": "Full status URL of any tweet in the thread. Provide either id or url.",
              "example": "https://x.com/naval/status/1759123456789012345"
            },
            "example": "https://x.com/naval/status/1759123456789012345"
          }
        ]
      }
    },
    "/user/info": {
      "get": {
        "operationId": "user-info",
        "summary": "User Info by Username",
        "description": "Resolve a username into the full user object: bio, follower and following counts, verification status, location, and avatar. The canonical entry point for profile lookups. Cost: $0.0008 per call.",
        "tags": [
          "User Reads"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.0008,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/user/info?username=naval\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/user/info\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"username\": \"naval\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/user/info\");\nurl.search = new URLSearchParams({ username: \"naval\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch a full profile by @handle.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/User"
                        }
                      ],
                      "description": "The resolved user object."
                    }
                  }
                },
                "example": {
                  "user": {
                    "id": "745273",
                    "username": "naval",
                    "name": "Naval",
                    "description": "Angel investor.",
                    "followers_count": 2100000,
                    "following_count": 421,
                    "verified": true,
                    "profile_image_url": "https://pbs.twimg.com/profile_images/.../avatar.jpg"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "description": "Handle without the leading @.",
            "schema": {
              "type": "string",
              "description": "Handle without the leading @.",
              "example": "naval"
            },
            "example": "naval"
          }
        ]
      }
    },
    "/user/info_by_id": {
      "get": {
        "operationId": "user-info-by-id",
        "summary": "User Info by ID",
        "description": "Resolve a numeric user ID into the full user object. Use this when you already have the stable ID (handles can change, IDs do not). Cost: $0.0008 per call.",
        "tags": [
          "User Reads"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cost-usd": 0.0008,
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.twitterapis.com/twitter/user/info_by_id?user_id=745273\" \\\n  -H \"Authorization: Bearer $TWITTERAPIS_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os\nimport requests\n\nresp = requests.get(\n    \"https://api.twitterapis.com/twitter/user/info_by_id\",\n    headers={\"Authorization\": f\"Bearer {os.environ['TWITTERAPIS_KEY']}\"},\n    params={\"user_id\": \"745273\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(data)"
          },
          {
            "lang": "js",
            "label": "JavaScript",
            "source": "const url = new URL(\"https://api.twitterapis.com/twitter/user/info_by_id\");\nurl.search = new URLSearchParams({ user_id: \"745273\" }).toString();\nconst resp = await fetch(url, {\n  headers: { Authorization: `Bearer ${process.env.TWITTERAPIS_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data);"
          }
        ],
        "responses": {
          "200": {
            "description": "Fetch a full profile by numeric user ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/User"
                        }
                      ],
                      "description": "The resolved user object."
                    }
                  }
                },
                "example": {
                  "user": {
                    "id": "745273",
                    "username": "naval",
                    "name": "Naval",
                    "followers_count": 2100000,
                    "verified": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "bad_request",
                  "message": "Missing or malformed parameter. Fix the request before retrying."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "The API key is missing, malformed, or revoked. Check the Authorization header."
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "insufficient_credits",
                  "message": "Your balance is exhausted. Top up your credits to continue."
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "not_found",
                  "message": "The resource does not exist, for example a deleted tweet or a private account."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "rate_limited",
                  "message": "Too many requests. Back off and retry with exponential backoff."
                }
              }
            }
          },
          "5XX": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                },
                "example": {
                  "error": "server_error",
                  "message": "Something failed on our side. Retry with backoff; if it persists, contact support."
                }
              }
            }
          }
        },
[...]
